@{
    ViewData["Title"] = "Reviews";
}

@section NavbarUserNickname
{
    @{ await Html.RenderPartialAsync("~/Views/Account/Partial/_LoginRegisterUnauthorized.cshtml"); }
}

<div class="container">
    <p>Hello</p>
</div>