@model string

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="PersonalAccount">@Model</a>
    </div>
</div>